<table class="table">
    <tr> 
        <td>Id:</td>
        <td>@ViewBag.producto.Id</td>
    </tr>
    <tr> 
        <td>Nombre:</td>
        <td>@ViewBag.producto.Nombre</td>
    </tr>
    <tr>
        <td>Precio:</td>
        <td>@ViewBag.producto.Precio</td>
    </tr>
    <tr>
        <td>Foto:</td>
        <td><img src="~/imagenes/@ViewBag.producto.Foto" height="90px"></td>
    </tr>
    <tr>
        <td>Cantidad:</td>
        <td>@ViewBag.producto.Cantidad</td>
    </tr>

</table>
